<div class="row">
  <div class="small-12 columns">
    <h1>
      Product List
    </h1>
    <a href="/home">Return to home</a>
  </div>
</div>
<div class="card mb-4 shadow-sm" >

  <div class="card-body">
    <h2 class="card-text"><b>Horse Shoe</b></h2><ul>
    <li class="card-text">Price: Rs 825</li>
    <li class="card-text">Description: It is available all the time</li></ul>
    <div class="md-form"><ul>
      <li><label  class="">Qty in cartoon</label></li>
      <input mdbInput type="text"  class="form-control"></ul>

    </div><div class="md-form"><ul>
    <li><label class="">Qty in Units </label></li>
    <input mdbInput type="text" id="form1" class="form-control"></ul>

  </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" >Add to
          Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-4 shadow-sm" >

  <div class="card-body">
    <h2 class="card-text"><b>Penguin-Ears</b></h2><ul>
    <li class="card-text">Price:
      Rs 175</li>
    <li class="card-text">Description: It is a rare product</li></ul>
    <div class="md-form"><ul>
      <li><label  class="">Qty in cartoon</label></li>
       <input mdbInput type="text"  class="form-control"></ul>

    </div><div class="md-form"><ul>
    <li><label class="">Qty in Units </label></li>
    <input mdbInput type="text" id="form1" class="form-control"></ul>

  </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" >Add to
          Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
      </div>
    </div>
  </div>
</div>


